* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #595959
    ;
}

li {
    list-style: none;
}

.container {
    display: flex;
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
}

/* header */
header{
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
    height: 140px;
}

.nav-bar .nav-title {
    color: #1da1f2;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 800;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin-left: 25px;
    font-size: 1.2rem;
}

button {
    color: white;
    background: #1da1f2;
    border: none;
    padding: 18px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
}

.nav-button button img {
    margin-right: 10px;
}

/* Hero */
section.hero {
    width: 100%;
}

.container {
    gap: 70px;
}

.left-column {
    width: 57%;
    transform: translateY(40px);
}

.left-column h1 {
    font-size: 3.7rem;
}

.left-column p {
    color: #595959;
    line-height: 30px;
    font-size: 1.2rem;
    margin-top: 10px;
}

.left-column .hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.left-column .hero-buttons a {
    display: flex;
    align-items: center;
    color:#135075;
    font-weight: 600;
    font-size: 1.2rem;
    gap: 8px;
}

.left-column .hero-buttons a img {
    width: 20px;
    height: auto;
    color: #135075;
}

.left-column .user-avatars{
    margin: 30px 0;
}

.left-column .user-avatars .stack{
    position: relative;
}

.left-column .user-avatars img:nth-child(1){
    left: 0;
}

.left-column .user-avatars img:nth-child(2){
    left: -20px;
}
.left-column .user-avatars img:nth-child(3){
    left: -40px;
}
.left-column .user-avatars img:nth-child(4){
    left: -60px;
}
.left-column .user-avatars img:nth-child(5){
    left: -80px;
}
.left-column .user-avatars img:nth-child(6){
    left: -100px;
}
.left-column .user-avatars img:nth-child(7){
    left: -120px;
}
.left-column .user-avatars img:nth-child(8){
    left: -140px;
}
.left-column .user-avatars img:nth-child(9){
    left: -160px;
}


.left-column p .span-hero {
    color: #1da1f2;
    font-weight: 700;
}

.left-column p.disclaimer {
    width: 80%;
    margin-top: 0;
}


.right-column {
    width: 43%;
}

.right-column img{
    width: 100%;
    height: auto;
    margin-right: au;
}